body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
@media (max-width: 768px) {
  .carousel-item {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .carousel-item {
    width: 50%;
  }
}

.carousel-container {
  display: flex;
  overflow-x: auto;
}

.carousel-item {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 8px;
} */
